<ion-content [fullscreen]="true" scrollY="false">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="#"></ion-back-button>
      </ion-buttons>
      <ion-title class="lbl_title">Reset Password</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="resetpassword">
    <ion-item>
      <ion-label position="floating">email</ion-label>
      <ion-input type="email" #email required></ion-input>
    </ion-item>
    <br>
    <p>A link to reset your password will be sent to your email address.</p>
    <br>
    <ion-button (click)="changePassword(email)" expand="block">Send link</ion-button>
  </div>
</ion-content>
