
.icon-LogOut{
  font-size: 33px;
}
div{
  padding: 5%;
}
.toggleCheckedClass{
  display: flex;
  flex-direction: row-reverse;
  padding: 5%;
  justify-content: space-between;

}

ion-label{
  padding: 8px;
  font-weight: bold;
}
.label-Translate{
  padding: 0px;
  font-weight: bold;
  margin-right: 10px;

}
