    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

<ion-content [fullscreen]="true" [fullscreen]="true" class="ion-content-center">
  <div class="image-container">
    <img src="../../assets/icon/favicon.png" alt="Logo" />
  </div>

  <ion-grid class="gridCard">
    <ion-row>
      <ion-col>
        <ion-card color="light">
          <ion-card-header>
            <ion-card-title></ion-card-title>
            <ion-card-subtitle>
              {{ toggleChecked ? 'Ingrese su nombre y apellido para que se muestren en el home.' : 'Enter your name and surname to be displayed in the home page.' }}
            </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
        <ion-toggle [(ngModel)]="toggleChecked">{{ toggleChecked ? 'Traducir': 'Translate'}}</ion-toggle><br /><br />
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <form class="center-form">
          <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input type="text" [(ngModel)]="name" name="name" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Last name</ion-label>
            <ion-input type="text" [(ngModel)]="lastName" name="last name" required></ion-input>
          </ion-item>
        </form>
        <ion-button expand="block" type="submit" (click)="GuardarCambiosDePerfil()" class="custom-btn">Done</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
